name: CI

on:
  push:
    branches: [main]
    paths-ignore:
      - '**.md'
  pull_request:
    types: [opened, reopened, synchronize, labeled]
    paths-ignore:
      - '**.md'
  # Manually trigger a workflow for a branch
  workflow_dispatch:
  # Merge queue trigger
  merge_group:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  REGISTRY: registry.gitlab.aleph-alpha.de
  REPO_OWNER: research/public-registry
  IMAGE_NAME: eval_framework
  HF_DATASET_CACHE_DIR: /tmp/huggingface_datasets  # <- single source of truth
  UV_LINK_MODE: symlink
  UV_LOCKED: 1

jobs:
  test-formatter-hash:
    runs-on: cpu-runner-8c-32gb-01
    container: derskythe/github-runner-base:ubuntu-noble
    # needs: [hf-datasets-cache, test-extras]
    # needs: [hf-datasets-cache]
    steps:
      - uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "~=0.8.16"

      - name: Huggingface datasets cache
        uses: actions/cache/restore@v4
        with:
          path: ${{ env.HF_DATASET_CACHE_DIR }}
          key: hf-datasets-${{ github.run_id }}
          restore-keys: |
            hf-datasets-

      - name: Run formatter hashing tests
        env:
          HF_TOKEN: ${{ secrets.HUGGINGFACE_API_KEY }}
        run: |
          uv run --all-extras python -c "import nltk; nltk.download('punkt_tab')"
          uv run --all-extras pytest -n auto --max-worker-restart=0 --durations=30 -v -m "formatter_hash"
